:root {
  --ready: #6b21a8;
  --border: #e2e8f0;
  --cooldown: #3b0764;
  --deg: 360deg;
  --text: white;
  --text-cd: #fdba74;
  --overlay: #170326;
  --overlay-light: #e879f9;
}

body {
  background-color: #1e1b4b;
  color: var(--text);
}

.main {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.abilities {
  display: flex;
  height: 200px;
  margin-top: 60px;
  gap: 20px;
  justify-content: center;
}

.ability {
  position: relative;
  background: conic-gradient(
    var(--ready) var(--deg),
    var(--cooldown) var(--deg)
  );
  width: 200px;
  outline: 6px solid var(--border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
}

.ability::before {
  content: "";
  position: absolute;
  mix-blend-mode: hard-light;
  z-index: 1;
  background: radial-gradient(ellipse at top right, var(--overlay), transparent),
    radial-gradient(ellipse at bottom right, var(--overlay), transparent);
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.cooldowntext {
  color: var(--text-cd);
}

.available {
  font-weight: 400;
  position: relative;
  z-index: 2;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.name {
  position: absolute;
  bottom: -48px;
  background-color: #64748b;
  border-radius: 4px;
  padding: 2px;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 200;
  width: 100%;
  text-align: center;
}
