:root {
  --ready: #c084fc;
  --cooldown: #890e3f;
  --deg: 360deg;
  --text: #c084fc;
  --text-cd: #be123c;
}

body {
  background-color: #1e1b4b;
  color: var(--ready);
}

.main {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.abilities {
  display: flex;
  height: 200px;
  gap: 20px;
  justify-content: center;
}

.ability {
  position: relative;
  background: conic-gradient(
    var(--ready) var(--deg),
    var(--cooldown) var(--deg)
  );
  width: 200px;
  border-radius: 50%;
}

.cooldowntext {
  color: var(--text-cd);
}

.name {
  position: absolute;
  bottom: -30px;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
